@font-face {
  font-family: 'Exo';
  /*src: url('TrebuchetMS.eot');*/
  src: url('./fonts/Exo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./local_image/bodyBG.png');
}
.cards_wrapper > * {
  display: inline-block;
}
.cards_wrapper {
  display: flex;
  /*margin: 0 -80px;*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main_title {
  color: white;
  line-height: 44px;
  font-size: 36px;
  font-weight: lighter;
  align-items: center;
  text-align: center;
  vertical-align: top;
  margin-top: 36px;
  margin-left: 80px;
  margin-right: 80px;
  font-family: Exo, serif;
  filter: drop-shadow(0 1px 1px #000000);
  opacity: 0.7;
}
.disabled_card > * {
  opacity: 0.5;
}



